@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
body { margin: 0; background: #0A0A0A; font-family: 'DM Sans', sans-serif; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; }
input[type="number"] { -moz-appearance: textfield; }

input[type="date"]::-webkit-calendar-picker-indicator { filter: invert(0.5); }
